html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
    background: linear-gradient(90deg, rgb(31, 81, 121), rgb(72, 91, 151), rgb(31, 66, 110));
}

nav{
    background: linear-gradient(90deg, rgb(31, 81, 121), rgb(72, 91, 151), rgb(31, 66, 110));
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    box-shadow: white 0px 7px 15px 0px;
    position: sticky;
}

nav h1{
    /* color: #7cc0d8; */
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s;
    color: #7cc0d8;
}

section{
    padding-top: 60px;
    padding-left: 30px;
}
section ul{
    display: flex;
}

section ul li{
    list-style: none;
}


section h1{
    width: 350px;
    min-width: 200px;
}
section h1 span{
    /* color: #7cc0d8; */
    color: #33396b;
}

section p{
    width: 400px;
    min-width: 300px;
    text-align: justify;
    padding-right: 500px;
}

.btn{
    background-color: #33396b;
    color: rgb(255, 255, 255);
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    padding: 16px;
    border: 3px solid #7cc0d8;
    transition: 0.5s;
    font-weight: bold;
    color: #7cc0d8;
}